
{% extends 'base.html' %}

{% block content %}

<h3 class="headings_for_edits">Add a new booking</h3>

<form action="/bookings" method="POST">
    <div>
        <label class="list_of_entries" for="member">Member:</label>
        <select name="member_id" id="member">
            {% for member in members %}
            <option value="{{ member.id }}">
                {{ member.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label class="list_of_entries" for="lesson">Lesson:</label>
        <select name="lesson_id" id="lesson">
            {% for lesson in lessons %}
            <option value="{{ lesson.id }}">
                {{ lesson.name }}
            </option>
            {% endfor %}
        </select>
    </div>

    <button class="add_button" type="submit">Add Booking</button>

</form>

{% endblock %}