{% extends 'base.html' %}

{% block content %}

<div class="show_flex_container">
<h3 class="attribute_name">Booking id: </h3>
<p class="booking_attribute_value">{{booking.id}}</p>
</div>

<div class="show_flex_container">
    <h3 class="attribute_name">Lesson Name: </h3>
    <p class="booking_attribute_value">{{booking.lesson.name}}</p>
    </div>

<div class="show_flex_container">
<h3 class="attribute_name">Member Name:  </h3>
<p class="booking_attribute_value">{{booking.member.name}}</p>
</div>


{% endblock %}