

body {
    background-image: url('kitchen_background_edited2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {   


}

body > header > h1 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

body > header > ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}

body > h1 {
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-gap: 40px;
    grid-template-areas: 
    'header header header'
    'header_text header_text';
}


.header {
    text-align: center;
    padding-top: 15px;
}

.header_text {
    text-align: center
}


.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content:space-around ;
    
}

footer {
    background-color: rgb(140, 154, 154);
    font-size: medium;
    /* position: fixed; */
    /* bottom: 100; */
    clear:both;
    position: relative;
    margin-top: -1000px;
    /* position: absolute;
    bottom: 0;
    height: 25px;
    width: 100%; */
}

/* body > div > h2 {
    padding-top: 30px;
    padding-right: 40px;
    display: flex;
    justify-content: space-around;
}*/


body > div > section {
    padding-top: 400px; 
    display: flex;
    justify-content: center;

} 


.headings {
    margin-top: 40px;
    margin-left: 100px;
}

.create_new {
    margin-left: 100px;
}

.list_of_entries {
    margin-left: 100px;
}


/* 
#gallery > section {
    display: grid;
    grid-template-rows: 1fr, 1fr;
    grid-template-columns: 1fr 1fr;

}

#gallery > section >img {
    grid-column-start: 1;
    grid-row-start: 1;
} */