

body {
    background-image: url('kitchen_background_edited2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {   


}

body > header > h1 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

body > header > ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}

body > h1 {
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-gap: 40px;
    grid-template-areas: 
    'header header header'
    'header_text header_text';
}


.header {
    text-align: center;
    padding-top: 15px;
}

.header_text {
    text-align: center
}


.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content:space-around ;
    
}

footer {
    background-color: rgb(140, 154, 154);
    font-size: medium;
    /* position: fixed; */
    /* bottom: 100; */
    clear:both;
    position: relative;
    margin-top: -1000px;
    /* position: absolute;
    bottom: 0;
    height: 25px;
    width: 100%; */
}

/* body > div > h2 {
    padding-top: 30px;
    padding-right: 40px;
    display: flex;
    justify-content: space-around;
}*/


body > div > section {
    padding-top: 400px; 
    display: flex;
    justify-content: center;

} 


.headings {
    margin-top: 40px;
    margin-left: 100px;
}

.headings_for_edits {
    margin-top: 40px;
    margin-left: 100px;
    text-decoration: underline;
}

.create_new {
    margin-right: 100px;
    text-align: right;
    margin-top: -20px;
}

.list_of_entries {
    margin-left: 100px;
}

.add_button {
    margin-left: 210px;
    margin-top: 20px;
}


.show_flex_container {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 50px;
}

.attribute_name {
    text-decoration: underline;
}

.attribute_value {
    margin-left: 130px;
    font-size: medium;

}

.booking_attribute_value {
    position: absolute;
    left: 250px;
    padding-top: 5px;
}

.attribute_list {
    margin-top: 8px;
    list-style-type: none;

}

.edit_link {
    margin-top: 125px;
    margin-left: 100px;
}