

body {
    background-image: url('kitchen_background_edited2.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {   


}

body > header> h1 {
    display: flex;
    justify-content: center;
}

body > header > ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}