<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooking Academy</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link rel="stylesheet" href="static/style.css">


</head>
<body>
    <h1>Cooking Academy- Management</h1>
    <p><a href = "/members">Members</a></p>
    <p><a href = "/lessons">Lessons</a></p>
    <p><a href = "/bookings">Bookings</a></p>

    <div>
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>