<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooking Academy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 {#   <link rel="stylesheet" href="static/style.css"> #}


</head>
<body>
    <header>
        <h1>Cooking Academy- Management</h1>
        <ul>
            <li><a href= "/">Home</a></li>
            <li><a href = "/members">Members</a></li>
            <li><a href = "/lessons">Lessons</a></li>
            <li><a href = "/bookings">Bookings</a></li>
        </ul>
    </header>
    <body>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    </body>
</body>
</html>